body {
    background: url("background.jpg");
}

@font-face{
    font-family: 'titleFont';
    src: url('ANUDI.ttf');
}

h1 {
    font-size: 3.1em;
    font-weight: bold;
    font-family: titleFont;
    /*text-indent: 2.2em;*/
    color: #FFFFFF;
    text-shadow: 5px 5px 5px #000000;
    text-align: left;
}

p{
    text-align: left;
    text-indent: 3.2em;
    font-family: Georgia;
    font-weight: bold;
    font-size: 1em;
    color: #FFFFFF;
}


a{
    color: #000000;
}

a:hover{
    text-decoration: dashed;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}
