body {
    background: url("background.jpg");
}

@font-face{
    font-family: 'titleFont';
    src: url('ANUDI.ttf');
}

h1 {
    font-family: titleFont;
    font-weight: bold;
    font-size: 3.1em;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px #000000;
    text-align: center;
}

.sectionCredit{
    font-family: Verdana;
    text-align: left;
    color: #FFFFFF;
    background-color: #1E1E1E;
    border: solid #FFFFFF 7px;
    box-shadow: 7px 7px 7px #000000;
    width: 50%;
    margin: auto;
}

#credit{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.musicTitle{
    font-style: italic;
}

#remerciements{
    margin-left: 1.5em;
}

a{
    color: #FFFFFF;
}

a:hover{
    text-decoration: dashed;
    color: #1E1E1E;
    background-color: #FFFFFF;
}

#Interview{
    font-family: Verdana;
    text-align: justify; 
    width: 90%;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

.InterviewTitle{
    font-weight: bold;
    text-align: center;
}

.strongBlack{
    font-weight: bold;
    color: #000000;
}

.strongWhite{
    font-weight: bold;
    color: #FFFFFF;
}

#Nathan{
    color: #FFFFFF;
    background-color: #F000B0; 
    width: 90%;
    border: solid #FFFFFF 7px;
    box-shadow: 7px 7px 7px #000000;
    padding: 1em;
    margin: auto;
    margin-top: 0.7% ;
}

#Logan{
    color: #000000;
    background-color:#007FDA;
    width:90%;
    border: solid #000000 7px;
    box-shadow: 7px 7px 7px #000000;
    padding: 1em;
    margin: auto;
    margin-top: 5%;
}

#Jérémy{
    color: #000000;
    background-color: #FCD21C;
    width:90%;
    border: solid #000000 7px;
    box-shadow: 7px 7px 7px #000000;
    padding: 1em;
    margin: auto;
    margin-top: 5%;
}


