body {
    background: url("UFR-ST.png") no-repeat 995px 435px,
                url("background.jpg");
}

@font-face{
    font-family: 'titleFont';
    src: url('ANUDI.ttf');
}

h1 {
    font-size: 3.1em;
    font-weight: bold;
    font-family: titleFont;
    text-indent: 2.2em;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px #000000;
    text-align: left;
}

h1:active{
    color: #FF0000;
}

div{
    width: 100%;
    text-align: center;
}

#cvs{
    background-color: #1E1E1E;
    display: inline;
    margin: 10px auto;
    border: ridge 7px #0000FF;
    box-shadow: 7px 7px 7px #000000;
}

p{
    text-align: left;
    text-indent: 3.2em;
    font-family: Georgia;
    font-weight: bold;
    font-size: 1em;
    color: #FFFFFF;
}


a{
    color: #000000;
}

a:hover{
    text-decoration: dashed;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}

.button{
    margin-left: 52px;
}

input#volumeslider{
    width: 195px;
    background-color: #000000;
}

button{
    border:none;
    cursor:pointer;
}

#playpausebtn{
    background: url(icons/pause.png) no-repeat #000000;
    width: 25px;
    height: 25px;
}

#mutebtn{
    background: url(icons/speaker.png) no-repeat #000000;
    width: 25px;
    height: 25px;
}       

