body {
    background: url("UFR-ST.png") no-repeat 94.5% 88.5%,
                url("background.jpg");
}

@font-face{
    font-family: 'titleFont';
    src: url('ANUDI.ttf');
}

h1 {
    font-family: titleFont;
    font-weight: bold;
    font-size: 3.1em;
    color: #FFFFFF;
    margin-left: 10%;
    text-shadow: 5px 5px 5px #000000;
}

h1:hover{
    color: #00FF00;
}

h1:active{
    color: #FF0000;
}

div{
    text-align: center;
}

#cvs{
    background-color: #1E1E1E;
    display: inline;
    margin: 10px auto;
    border: ridge 7px #0000FF;
    box-shadow: 7px 7px 7px #000000;
}

p{
    font-family: Georgia;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 4%;
}

a{
    color: #000000;
}

a:hover{
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: dashed;
    background-color: #000000;   
}

.button{
    margin-left: 4.8%;
}

#volumeslider{
    background-color: #000000;
    width: 15%;
}

button{
    border:none;
    cursor:pointer;
}

#playpausebtn{
    background: url(icons/pause.png) no-repeat #000000;
    width: 25px;
    height: 25px;
}

#mutebtn{
    background: url(icons/speaker.png) no-repeat #000000;
    width: 25px;
    height: 25px;
}       

