/*body {
    background: url("background.jpg");
}*/

@font-face{
    font-family: 'titleFont';
    src: url('ANUDI.ttf');
}

h1 {
    font-family: titleFont;
    font-weight: bold;
    font-size: 3.1em;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px #000000;
    /*text-indent: 2.2em;*/
}

p{
    font-family: Verdana;
    font-size: 1em;
    /*color: #FFFFFF;*/
}

.Crédit{
    font-family: Verdana;
    font-size: 1em;
}

.musicTitle{
    font-style: italic;
}

a{
    color: #000000;
}

a:hover{
    text-decoration: dashed;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}

.Interview{
    font-family: Georgia;
    /*font-weight: bold;*/
    font-size: 1em;
    text-indent: 3.2em;   
}

strong{
    font-weight: bold;
}


.Nathan{
    color: #FF0000;
}

.Jérémy{
    color: #00FF00;
}

.Logan{
    color: #0000FF;
}
